NODE_ENV=production
PORT=3000

DATABASE_URL=

OPENAI_API_KEY=
OPENAI_MODEL=

BAFAR_N8N_API_KEY=

CARNEMART_URL=
CARNEMART_CONSUMER_KEY=
CARNEMART_CONSUMER_SECRET=

YALO_URL=
YALO_CONSUMER_KEY=
YALO_CONSUMER_SECRET=

PASTORA_URL=
PASTORA_CONSUMER_KEY=
PASTORA_CONSUMER_SECRET=